@model IEnumerable<WebApp.Models.Marks>

@{
    ViewData["Title"] = "ViewMarks";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>ViewMarks</h1>


<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.Yr)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.RollNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Science)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.History)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geography)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.English)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarksAverage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmAverage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Yr)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.RollNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Science)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.History)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geography)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.English)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarksAverage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SmAverage)
            </td>
            <td>
                @Html.ActionLink("Update", "UpdateMarks", item) |
                @Html.ActionLink("Delete", "DeleteMarks", item)
            </td>
        </tr>
}
    </tbody>
</table>
