@model IEnumerable<WebApp.Models.Student>

@{
    ViewData["Title"] = "ViewStudent";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>ViewStudent</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RollNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoiningYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentFname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentLname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FatherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RollNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoiningYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentFname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentLname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.ActionLink("Update", "UpdateStudent", item) |
                @Html.ActionLink("Delete", "DeleteStudent", item)
            </td>
        </tr>
}
    </tbody>
</table>
